/*font-family: 'PT Sans', sans-serif;
font-family: 'PT Sans Narrow', sans-serif;
font-family: 'PT Serif', serif;*/

* {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 80%;
  margin: 2% auto;
}

/* FONTS */
h1 {
  font-family:'PT Sans Narrow', sans-serif; 
  font-weight: bold;
  font-size: 1.875em;
  color: #323232;
  margin-bottom: 10px;
}
h2 {
  font-family:'PT Sans Narrow', sans-serif; 
  font-weight: bold;
  font-size: 1.5em;
  color: #00897f;
  text-transform: uppercase;
  margin-bottom: 10px;
}
h3 {
  font-family:'PT Serif', serif; 
  font-size: 1em;
  line-height: 2em;
  color: #323232;
}
p,
h3 span {
  font-family:'PT Serif', serif; 
  font-size: 0.875em;
  line-height: 1.75em;
  color: #323232;
}
a {
  font-family:'PT Serif', serif; 
  font-weight: bold;
  font-weight: bold;
  font-size: 1em;
  color: #f26522;
}
nav h1 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  color: #323232;
}
nav p {
  font-family: 'PT Sans', sans-serif;
  font-size: 0.9em;
  color: #323232;
}
footer h1 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: bold;
  font-size: 1.25em;
  color: #eee;
}

nav h1,
.main h1,
#contact h1,
h2 {
  text-align: center;
}

/* SPLASH IMAGE */
img {
  max-width: 100%;
}
.splash {
  background-image: url("../images/kats-hero-mobile.jpg");
  position: relative;
}
.splash img {
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.splash h1 {
  font-family:'PT Sans Narrow Bold', sans-serif; 
  text-transform: uppercase;
  color: #eee;
  display: inline;
  position: absolute;
  width: 424px;
  top: 5%;
  left: 45%;
  margin-left: -195px;
}
#splash-left, #splash-right {
  font-size: .75em;
  margin: 0;
}
#splash-right {
  float: right;
}
#splash-purfect {
  font-size: 1.875em;
}

/* INTRO SECTION */
.main h1 {
  margin-top: 40px;
}

/* ABOUT */
#about {
  margin-top: 40px;
  background-color: #eee;
}
.about {
  margin: 30px auto;
  padding: 10px;
}
.profiles {
  margin-bottom: 30px;
}
.profiles img {
  border-radius: 50%;
}
.profiles img:last-child {
  display: block; 
  margin: 80px auto;
}

/* CONTACT */
.contact h3, 
.contact p {
  display: inline;
}
.contact a {
  text-decoration: none;
  white-space: pre;
  text-align: right;
}
#contact {
  margin-bottom: 40px;
  background-color: #eee;
  padding: 30px;
}

/* FOOTER */
footer {
  text-align: center;
  margin-top: 40px;
}

footer h1 {
  background: #00897f;
  padding-top: 5px;
  padding-bottom: 15px;
}

/* HIDDEN ON MOBILE */
.hideMobile {
  display: none;
}




/* On devices wider than 660px */
@media(min-width: 660px) {

 .hideMobile {
    display: unset;
  }

  /* NAVBAR */
  nav {
    margin: 10px auto;
  }
  .nav-brand {
    float: left;
  }
  .navRight {
    float: right;
  }
  a {
    text-decoration: none;
  }
  li {
    list-style: none;
    display: inline;
    margin: 0 5px;
    text-transform: uppercase;
  }
  .clearfix:after {
    content: " ";
    display: block;
    clear: both;
  }

  /* SPLASH IMAGE */
  .splash h1 {
    margin-left: -175px;
  }

  /* ABOUT */
  #about {
    display: flex;
    margin-bottom: 40px;
    background-color: white;
  }
  
  .about {
    margin: 30px;
    padding: 0 30px;
    background-color: #eee;
    /*display: inline-block;
    width: 40%;
    margin: 0 auto;*/
  }
  .profiles img {
    border-radius: 50%;
  }
  .profiles .hideDesktop {
    display: none !important;
  }

  .profiles img {
    width: 30%;
    margin: 0 1%;
  }
  /* CONTACT */
  #contact {
  margin-bottom: 40px;
  background-color: #eee;
  padding: 10px;
}
  .contact-main {
    display: flex;
  }
  .contact {
    padding: 30px;
    margin: 0 auto;
    background-color: #fff;

  }
    .contactHeader {
    display: block;
  }

}

/* On devices wider than 940px */
@media(min-width: 940px) {
}
